# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/

# Env
.env

# Database
*.db
*.sqlite3
backend/database/*.db

# Logs
*.log
backend/logs/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Flet
assets/
